<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <input value="{{ BG }}" type="text" hidden="hidden" id="BGActive" />
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var BG = '{{ background | tojson }}'; // Assuming 'background' is a server-side variable
            var BGActiveInput = document.getElementById('BGActive');
            BGActiveInput.value = BG; // Update the value attribute
            
            if (BG === 'true') {
                // Your additional logic here if needed
                pageRotate();
            }
        });
    </script>
    <link rel="stylesheet" href="../static/css/newfiles.css">
    <!-- Linking Box Icon for Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script src="../static/js/files.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    
  </head>
  <body>
    <div class = "back-button" onclick="window.location.href = '/';">
      <i class='bx bx-arrow-back'></i>
    </div>
    <div class = "stacker">
      <div class="file-uploader">
        <div class="uploader-header">
          <h2 class="uploader-title">File Uploader</h2>
          <h4 class="file-completed-status"></h4>
        </div>
        <div class="file-upload-box">
          <h2 class="box-title">
            <span class="file-instruction">Drag files here or</span>
            <span class="file-browse-button">browse</span>
          </h2>
          <input class="file-browse-input" type="file" accept=".pdf,.txt,.ppt,.pptx,.doc,.docx" multiple hidden>
        </div>
      </div>
      <div class = button>
        <button class="upload-button button-with-spinner">
          Embed Files
          <div class="spinner"></div>
        </button>
        <button class="download-button button-with-spinner">
          Download History
          <div class="spinner"></div>
        </button>
        <button class="reset-button button-with-spinner">
          Reset Chat
          <div class="spinner"></div>
        </button>
        <div class="BG-button">
          <div class = "BGtext">💫</div>
          <label class="switch">
            <input type="checkbox" id= 'checkbox'>
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class = "file-list-container">
      <div class="list-header">
        <h2 class="list-title">Files</h2>
      </div>
      <ul class="file-list"></ul>
    </div>
  </body>
</html>
